#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    border: 1px solid;
}
input{
  font-size:100%;
}