<div class="row">
    <div class="col-xs-12" style="margin-top: 5%">
        <h1 style="text-align: center;">
            <b>Medlynk</b>
            <br>
            </h1>
            <div style="text-align: center;font-size: initial;" >
                <i>The Linking Media</i>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <br>
                    <h2 id="wrapper" >
                        <b>LOGIN</b>(Existing User)
                    </h2>
                    <br>
                        <form  style="font-size: medium;" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidat>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                <label for="username">User Id(Email Id)</label>
                                <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
                                <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required
                                <small [hidden]="!username.hasError('pattern')">Email format should be, <small><b>joe@abc.com</b></small></small>
                                  </div>
                            </div>
                            <div class="form-group" >
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" />
                                <div *ngIf="valid" class="help-block text-danger">Password is required</div>
                            </div>
                            <div class="form-group">
                                <div id="wrapper"> 
                                    <button [disabled]="loading" class="btn btn-success btn-lg">
                                        <h4>Login</h4>
                                    </button>
                                   <!-- <button type="button" class="btn btn-success btn-lg" ><span [routerLink]="['/config']" ><h4>Configuration</h4></span></button>-->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br>
                <div class="row">
                    <div class="col-xs-12">
                        <div style="text-align: center;">
                            <h3> New User ? </h3>
                        </div>
                        <div id="wrapper">
                            <button  type="button" class="btn btn-success btn-lg">
                                <span [routerLink]="['/register']">
                                    <h4>Register</h4>
                                </span>
                            </button>
                        </div>
                        <div id="wrapper" class="row" style="padding-top: 2rem">
                            <a class="btn" (click)="openModal()">
                                <h3>Forgot Your Password?</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="backdrop" [ngStyle]="{'display':display}"></div>
                <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title">Password Reset</h3>
                      </div>
                      <form name="form" (ngSubmit)="onSubmitPassword()">            
                          <div class="modal-body">
                            <div class="form-group">
                            <h5><label id='forgotplabel' for="exampleInputPassword1">Email Id</label></h5>
                            <input id='forgotpinput' style="font-size:15px;" type="email" class="form-control" name="password" [(ngModel)]="model.forgotp_emailid" #password="ngModel" required />
                           </div>
                           <div>
                            <h5 id='forgotpmessage'>Request for change of password has been submitted.Please contact admin for new password</h5>                        
                            <button id='forgotpsubmit' type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" style="float: right;" class="btn btn-primary" (click)="onCloseHandled()" >Close</button>
                            </div>
                          </div>
                      </form>
                      <div class="modal-footer">
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal !-->
              