
<div class="container">
      <div>
        <h1><b>Device Management - Edit Device</b></h1>
      </div>  
<form style="border:1px solid black;" name="form" (ngSubmit)="submit()">
<p style="color:red;font-size:1.2em;margin:1% 0% 1% 28%;">{{errmsg}}</p>
    <div class="row" style="margin:4% 0% 1% 28%;">
      <div class="col-xs-3" align="left">
      <label for="Name" >Facilitator:</label>
      </div>
      <div class="col-xs-5" align="left">
        <input value="{{model.username}}" name="username" [(ngModel)]="model.username" #username="ngModel"  maxlength="100" type="text" class="form-control" id="Name" required placeholder="Enter name"> 
      </div>
    </div>
  
    <div class="row" style="margin:1% 0% 1% 28%;">
        <div class="col-xs-3" align="left">
        <label for="device_id" >Device Id:</label>
        </div>
        <div class="col-xs-5" align="left">
          <input value="{{model.device_id}}" name="device_id" [(ngModel)]="model.device_id" #device_id="ngModel"  maxlength="45" class="form-control" id="device_id" required placeholder="Enter device id" disabled> 
        </div>
      </div>

      <div class="row" style="margin:1% 0% 1% 28%;">
          <div class="col-xs-3" align="left">
          <label for="address" >Address:</label>
          </div>
          <div class="col-xs-5" align="left">
            <input value="{{model.address}}" name="address" [(ngModel)]="model.address" #address="ngModel" type="text" class="form-control" id="address"  maxlength="200" required placeholder="Enter address"> 
            <button type="button" (click)='togglemap()' class="btn btn-link"><span style='font-size:14px'>Select coordinates</span></button>
          </div>
        </div>
        
        <div *ngIf='maptoggle'  class="row" style="margin:1% 0% 1% 28%;">
          <div  class="col-xs-12" align="left">
              <agm-map   [latitude]="lat" [longitude]="lng"  [zoom]="14" [mapTypeControl]="true">
                  <agm-marker 
                  (dragEnd)="markerMoved($event)"
                  [markerDraggable]='true'
                  [latitude]="lat"
                  [longitude]="lng"
                  [iconUrl]="iconUrl">
                  </agm-marker>
              </agm-map>
          </div>  
        </div>


        <div class="row" style="margin:1% 0% 1% 28%;">
          <div class="col-xs-3" align="left">
          <label for="key_location" >ID : Loc </label>
          </div>
          <div class="col-xs-5" align="left">
            <input name="key_location" [(ngModel)]="model.key_location" #key_location="ngModel" type="text" class="form-control" id="key_location"  maxlength="100" required placeholder="Enter key location"> 
          </div>
        </div>


        <div class="row" style="margin:1% 0% 1% 28%;">
            <div class="col-xs-3" align="left">
            <label for="coordinates" >Co-ordinates:</label>
            </div>
            <div class="col-xs-5" align="left">
              <input name="coordinates" [(ngModel)]="model.coordinates" #coordinates="ngModel" type="text" class="form-control" id="coordinates"  maxlength="45" required placeholder="Enter co-ordinates">
             
            </div>
          </div>

        
          <div class="row" style="margin:1% 0% 1% 28%;">
            <div class="col-xs-3" align="left">
            <label for="loginpassword" >Password:</label>
            </div>
            <div class="col-xs-5" align="left">
              <input name="loginpassword" [(ngModel)]="model.loginpassword" #loginpassword="ngModel" type="password" class="form-control" id="loginpassword"  maxlength="45" required placeholder="Enter device login password"> 
            </div>
          </div>

          <div hidden class="row" style="margin:1% 0% 1% 28%;">
              <div class="col-xs-3" align="left">
              <label for="configpassword" >Config Password:</label>
              </div>
              <div class="col-xs-5" align="left">
                <input name="configpassword" [(ngModel)]="model.configpassword" #configpassword="ngModel" type="password" class="form-control" id="configpassword"  maxlength="45" required placeholder="Enter device config password"> 
              </div>
            </div>

            <div class="row" style="margin:1% 0% 0% 28%;">
              <div class="col-xs-3" align="left">
              <label for="gsmmobilenumber" >GSM Mobile Number:</label>
              </div>
              <div class="col-xs-5" align="left">
                <input name="gsmmobilenumber" [(ngModel)]="model.gsmmobilenumber" #gsmmobilenumber="ngModel" type="tel" class="form-control" id="gsmmobilenumber"  maxlength="10s" required placeholder="Enter gsmmobilenumber"> 
              </div>
            </div>
            
            <div class="row" style="margin:1% 0% 1% 28%;">
              <div class="col-xs-3" align="left">
              <label for="meter1" >Meter 1:</label>
              </div>
              <div class="col-xs-5" align="left">
                <input name="meter1" [(ngModel)]="model.meter1" #meter1="ngModel" type="text" class="form-control"  maxlength="100" id="meter1" required placeholder="Format [ CustomerName:CustomerId ]"> 
              </div>
            </div>
            <div class="row" style="margin:1% 0% 1% 28%;">
              <div class="col-xs-3" align="left">
              <label for="meter2" >Meter 2:</label>
              </div>
              <div class="col-xs-5" align="left">
                <input name="meter2" [(ngModel)]="model.meter2" #meter2="ngModel" type="text" class="form-control"  maxlength="100" id="meter2" required placeholder="Format [ CustomerName:CustomerId ]"> 
              </div>
            </div>
            <div class="row" style="margin:1% 0% 1% 28%;">
              <div class="col-xs-3" align="left">
              <label for="meter3" >Meter 3:</label>
              </div>
              <div class="col-xs-5" align="left">
                <input name="meter3" [(ngModel)]="model.meter3" #meter3="ngModel" type="text" class="form-control"  maxlength="100" id="meter3" required placeholder="Format [ CustomerName:CustomerId ]"> 
              </div>
            </div>
            <div class="row" style="margin:1% 0% 1% 28%;">
              <div class="col-xs-3" align="left">
              <label for="meter4" >Meter 4:</label>
              </div>
              <div class="col-xs-5" align="left">
                <input name="meter4" [(ngModel)]="model.meter4" #meter4="ngModel" type="text" class="form-control"  maxlength="100" id="meter4" required placeholder="Format [ CustomerName:CustomerId ]"> 
              </div>
            </div>


           <div class="row" style="margin:0% 0% 1% 18%;">
              <div class="col-xs-4 col-xs-offset-4" >
            <p>     
            <button type="submit" class="btn btn-primary" style="margin-top:12%;background-color:green;font-size:1.7em"><b>Submit</b></button>
              </div>  
          </div>
</form>
</div>

