/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

input,select{
    margin-bottom: 2%;
}
/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
 
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #6F83E7;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    font-size: 12px;
}
font,td,option{
    font-size: 15px;
}
select{
    font-size: 13px;
}