  <div class="container">
        <div>
          <h1><b>User Management - Add User</b></h1>
        </div>  
<form style="border:1px solid black;" name="form" (ngSubmit)="submit()">
  <p style="color:red;font-size:1.2em;margin:1% 0% 1% 28%;">{{errmsg}}</p>
      <div class="row" style="margin:4% 0% 1% 28%;">
        <div class="col-xs-3" align="left">
        <label for="Name" >Name:</label>
        </div>
        <div class="col-xs-5" align="left">
          <input name="username" [(ngModel)]="model.username" #username="ngModel" type="text" class="form-control" id="Name" maxlength="45" required placeholder="Enter name"> 
        </div>
      </div>
    
      <div class="row" style="margin:1% 0% 1% 28%;">
          <div class="col-xs-3" align="left">
          <label for="emailid" >Emailid:</label>
          </div>
          <div class="col-xs-5" align="left">
            <input name="email" [(ngModel)]="model.email" #email="ngModel" type="email" class="form-control" id="emailid"  maxlength="45" required placeholder="Enter email"> 
          </div>
        </div>

        <div class="row" style="margin:1% 0% 1% 28%;">
            <div class="col-xs-3" align="left">
            <label for="phone" >Phone:</label>
            </div>
            <div class="col-xs-5" align="left">
              <input name="phone" [(ngModel)]="model.phone" #phone="ngModel" type="tel"  class="form-control" id="phone"  maxlength="10" required placeholder="Enter phone"> 
            </div>
          </div>


          <div class="row" style="margin:1% 0% 1% 28%;">
              <div class="col-xs-3" align="left">
              <label for="role" >Role:</label>
              </div>
              <div class="col-xs-5" align="left">
                  <select name="roleelement" [(ngModel)]="role" (change)="onSelectRole(role)"  class="form-control" id="role"  required>
                      <option [value]="item.value" *ngFor="let item of roles">{{item.name}}</option>
                    </select>    
              </div>
            </div>

            <div class="row" style="margin:1% 0% 1% 28%;">
              <div class="col-xs-3" align="left">
              <label for="address" >Address:</label>
              </div>
              <div class="col-xs-5" align="left">
                <input name="address" [(ngModel)]="model.address" #address="ngModel" type="text" class="form-control"  maxlength="200" id="address" required placeholder="Enter address"> 
              </div>
            </div>

            <div class="row" style="margin:1% 0% 1% 28%;">
              <div class="col-xs-3" align="left">
              <label for="password" >Password:</label>
              </div>
              <div class="col-xs-5" align="left">
                <input name="password" [(ngModel)]="model.password" #password="ngModel" type="password" class="form-control" id="password" required placeholder="Enter password"> 
              </div>
            </div>

            <div class="row" style="margin:1% 0% 1% 28%;">
                <div class="col-xs-3" align="left">
                <label for="confirmpassword" >Confirm Password:</label>
                </div>
                <div class="col-xs-5" align="left">
                  <input name="confirmpassword" [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel" type="password" class="form-control" id="confirmpassword" required placeholder="Enter password"> 
                </div>
              </div>
            
              <div class="row" style="margin:1% 0% 1% 28%;">
                  <div class="col-xs-3" align="left">
                  <label>Assigned Devices:</label>
                  </div>
              </div>

              <div class="row" style="margin:0% 20% 0% 25%">
                  <div class="col-xs-5"  align="right">
                      <select name="devices"  [(ngModel)]="select" (change)="onSelect(select)" size="8" multiple="" style="min-width:60%;max-width:80%;overflow-x:scroll;overflow-y:scroll" class="form-control" id="alldevices" required>
                          <option [value]="item" *ngFor="let item of results">{{item}}</option>
                        </select>  
                  </div>
                  <img src={{leftarrow}} (click)="deletelist()" name="deletelistbutton" style="margin:7% 1% 0% 0%;width:4%;height:4%">
                  <img src={{rightarrow}} (click)="insertlist()" name="insertlistbutton" style="margin:7% 0% 0% 1%;width:4%;height:4%">
                  <div class="col-xs-5">
                      <select name="devicesa" [(ngModel)]="selecta" (change)="onSelectassigned(selecta)" multiple="" size="8" style="min-width:70%;max-width:80%;overflow-x:scroll;overflow-y:scroll " class="form-control" id="alldevices1" required>  
                        <option [value]="item" *ngFor="let item of assigned">{{item}}</option>
                        </select>  
                  </div>
              </div>
              <div class="row" style="margin:0% 0% 1% 18%;">
                <div class="col-xs-4 col-xs-offset-4" >
              <p>     
              <button type="submit" class="btn btn-primary" style="margin-top:12%;background-color:green;font-size:1.7em"><b>Submit</b></button>
                </div>  
            </div>
</form>
</div>
