<div class="container">
        <div>
            <select [(ngModel)]="selected" (ngModelChange)="onSelected(selected)">
         <option disabled hidden [value]="selectUndefinedOptionValue">Select Device Id </option>
                <option *ngFor="let deviceId of someData"
                        [value]="deviceId.label"> 
                        {{ deviceId.label}}
                </option>
           </select>
        
            <select  [(ngModel)]="select" (ngModelChange)="onSelect(select)">
                <option disabled hidden [value]="selectUndefinedOptionValue">Select Device Status </option>
                <option *ngFor="let option of options"
                        [value]="option"> 
                        {{ option }}
                </option>
           </select>
        </div>
        <agm-map  *ngIf='blinkingNot?false:true' [latitude]="lat" [longitude]="lng"  [zoom]="zoomLevel" [mapTypeControl]="true"  (zoomChange)="zoomChange($event)">
        <agm-marker-cluster  [averageCenter]='true' imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
           <agm-marker  *ngFor="let m of selectedData; let i = index"
                  [latitude]="m.lat"
                  [longitude]="m.lng"
                  (markerClick)="clickedMarker(m, i)"
                  [iconUrl]="m.iconUrl"
                  [visible]="markerHidden[m.label]?.val"
                  (mouseOver)="mouseOver(infoWindow,m)"
                  (mouseOut)="mouseOut(infoWindow,m)">           
                  <agm-info-window #infoWindow  [latitude]="m.lat" [longitude]="m.lng" [isOpen]="m.info" >{{m.label}}<br> {{m.message}}
                  </agm-info-window>
          </agm-marker>
        </agm-marker-cluster>
        </agm-map>
        <agm-map *ngIf='blinkingNot?true:false' [latitude]="lat" [longitude]="lng"  [zoom]="zoomLevel" [mapTypeControl]="true"  (zoomChange)="zoomChange($event)">
                   <agm-marker  *ngFor="let m of selectedData; let i = index"
                          [latitude]="m.lat"
                          [longitude]="m.lng"
                          (markerClick)="clickedMarker(m, i)"
                          [iconUrl]="m.iconUrl"
                          [visible]="markerHidden[m.label]?.val"
                          (mouseOver)="mouseOver(infoWindow,m)"
                          (mouseOut)="mouseOut(infoWindow,m)">           
                          <agm-info-window #infoWindow  [latitude]="m.lat" [longitude]="m.lng" [isOpen]="m.info" >{{m.label}}<br> {{m.message}}
                          </agm-info-window>
                  </agm-marker>
        </agm-map>
        </div>