
.hover{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(27, 34, 27, 0.24);
}
.customerid{
    background-color: #99cc12 !important;
    text-align: left;
    padding-left: 1%;
    width: 15rem;
    font-size: 1.8rem;
    font-weight: 800;
}
angular-gauge{
    position: relative;  
    width: 100px;}

 .gauge svg g text {
    font-size: 18px;
  }
  /* for middle text */
  .gauge svg g g text {
    font-size: 24px;
  }

.center-block {
   margin:auto;
   }

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 27px; padding: 0; line-height: 27px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #64AD2B; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 27px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 62px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.metercss{
    text-align: center;
    background-color: #99CC00;
}
.headercss{
background-color: #fecc01;
    width: 86%;
    margin-top: 2%;
    margin-left: 5%;
    border: 1px solid black;
}
.labelheadercss{
    background-color: #fecc01;
        width: 86%;
        margin-top: 2%;
        margin-left: 5%;
        border: 1px solid black;
    }
.backdrop{ 
background-color:rgba(0,0,0,0.6);
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
}
.solenoid{
    text-align: center;
    font-size: 157%;
    color: white;
    background-color: #958b52;
    padding: 2%;
    width: 82%;
    margin-left: 9%;
    border: 3px solid black;
    margin-bottom: 4%;
}
